driftfile /var/lib/ntp/ntp.drift
{% for item in NTP %}
server {{ item }}
{% endfor %}
restrict -4 default kod notrap nomodify nopeer noquery
restrict -6 default kod notrap nomodify nopeer noquery
restrict 127.0.0.1
restrict ::1

